@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #68FFFE;
  --background: #171B37;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}